.task {
	background-color: var(--gray-500);
	border: solid 1px var(--gray-400);
	border-radius: 8px;

	display: flex;
	gap: 0.75rem;
	align-items: flex-start;
	padding: 1rem;
	font-size: 0.875rem;
	color: var(--gray-100);
	text-align: justify;
}

.task p {
	flex: 1;
	overflow: auto;
}

.trashContainer {
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--gray-300);
}

.trashContainer:hover {
	background-color: var(--gray-400);
	border-radius: 4px;
	color: var(--danger);
	cursor: pointer;
}

.circleContainer {
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--blue);
}

.circleContainer:hover {
	color: var(--blue-dark);
	cursor: pointer;
}

.checkContainer {
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--purple-dark);
}

.checkContainer:hover {
	color: var(--purple);
	cursor: pointer;
}

.finished {
	text-decoration: line-through;
	color: var(--gray-300);
}
